<div [formGroup]="form">
  <label for="first-name">First Name</label>
  <input formControlName="firstName" id="first-name" />

  <label for="last-name">Last Name</label>
  <input formControlName="lastName" id="last-name" />

  <label for="email">Email</label>
  <input formControlName="email" type="email" id="email" />
  <div *ngIf="emailControl.touched && emailControl.hasError('required')" class="error">
    email is required
  </div>
  <div>
      <mat-form-field>
        <input matInput placeholder="Please enter smething here" type="text" formControlName="matInputControl">
        <mat-error *ngIf="form.get('matInputControl').invalid">invalid value</mat-error>
      </mat-form-field>
    </div>
</div>